@page "/discover";

@using Chase.Minecraft.Data;
@using Chase.Minecraft.Model.Resources;
@using Chase.Minecraft.Modpacks;
@using PolygonMC.Data;
@using PolygonMC.Models;
@using PolygonMC.Shared.Components

<Navigation SelectedPage="1"></Navigation>

<div id="page-content">
    <link rel="stylesheet" href="/css/instances.css">

    <div class="col" style="max-height: 96vh;">

        <div class="page-title row center horizontal">
            <span class="fill">Discover</span>
            <div class="row">
                <div id="source-dropdown" class="dropdown" tabindex="0">
                    <div class="value">@Source</div>
                    <div class="dropdown-items">
                        @foreach (PlatformSource source in Enum.GetValues(typeof(PlatformSource)))
                        {
                            @if (source != PlatformSource.Unknown)
                            {
                                <div class="dropdown-item @(Source==source?"selected":"")" @onclick="() => Source=source">@source</div>
                            }
                        }
                    </div>
                </div>
                <div id="limit-dropdown" class="dropdown" tabindex="0">
                    <div class="value">@ItemsPerPage</div>
                    <div class="dropdown-items">
                        <div class="dropdown-item @(ItemsPerPage==10?"selected":"")" @onclick="() => ItemsPerPage=10">10</div>
                        <div class="dropdown-item @(ItemsPerPage==25?"selected":"")" @onclick="() => ItemsPerPage=25">25</div>
                        <div class="dropdown-item @(ItemsPerPage==30?"selected":"")" @onclick="() => ItemsPerPage=30">30</div>
                        <div class="dropdown-item @(ItemsPerPage==50?"selected":"")" @onclick="() => ItemsPerPage=50">50</div>
                        <div class="dropdown-item @(ItemsPerPage==100?"selected":"")" @onclick="() => ItemsPerPage=100">100</div>
                    </div>
                </div>
                <button class="secondary fa fa-sliders" @onclick="()=>IsFilterPopupOpen=true"></button>
            </div>
        </div>
        <input type="search" name="search-box" id="search-box" placeholder="Search" />

        @if (IsFilterPopupOpen)
        {
            <ModpackFilters OnClose="()=>IsFilterPopupOpen=false"></ModpackFilters>
        }

        @if (IsLoading)
        {
            <span class="loading"></span>
        }
        <div id="instances-grid" class="grid">
            @switch (Tab)
            {
                default:
                case 0:
                    foreach (Modpack item in Modpacks.Results)
                    {
                        <InstanceComponent Id=@(item.ID) BackgroundImage=@(item.Icon) IsInstalled=false Name=@(item.Title) ModLoader=@(string.Join(',', item.SupportedLoaders)) Source=@(item.Platform) Version=@(item.Versions.First().Version) MinecraftVersion=@(item.GameVersions.First()) />
                    }
                    break;
                case 1: break;
                case 2: break;
                case 3: break;
            }
        </div>

        <Pagination></Pagination>


        <div class="bottom-nav row alert center horizontal">
            <div class="nav-item @(Tab == 0 ?"selected":"")" @onclick="()=>{Tab=0;LoadModPacks();}"><i class="fa fa-solid fa-boxes-packing"></i>Modpacks</div>
            <div class="nav-item @(Tab == 1 ?"selected":"")" @onclick="()=>{Tab=1;}"><i class="fa fa-solid fa-box"></i>Resource Packs</div>
            <div class="nav-item @(Tab == 2 ?"selected":"")" @onclick="()=>{Tab=2;}"><i class="fa fa-solid fa-wand-sparkles"></i>Shader Packs</div>
            <div class="nav-item @(Tab == 3 ?"selected":"")" @onclick="()=>{Tab=3;}"><i class="fa fa-solid fa-mortar-pestle"></i>Data Packs</div>
        </div>

    </div>
</div>

@code {

    private int Tab { get; set; } = -1;
    private bool IsLoading { get; set; } = true;
    private bool IsFilterPopupOpen { get; set; } = false;
    private int ItemsPerPage { get; set; } = 10;
    private int Pages { get; set; }
    private int CurrentPage { get; set; } = 0;
    private string Query { get; set; } = "";
    private PlatformSource Source { get; set; } = ConfigurationController.Instance.DefaultPlatform;
    private Timer debouncer;
    private CancellationTokenSource debounceTokenSource;
    private ModpackFiltersModel Filter { get; set; } = new();
    private SearchResults<Modpack> Modpacks = new() { Results = Array.Empty<Modpack>() };


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Tab = 0;
        LoadModPacks();
    }

    private async Task LoadModPacks()
    {
        IsLoading = true;
        await Task.Run(async () =>
        {
            SearchBuilder builder = new SearchBuilder(Query)
           .SetLimit(ItemsPerPage)
           .SetOffset(CurrentPage * ItemsPerPage);

            if (Source == PlatformSource.ALL || Source == PlatformSource.Curseforge)
            {
                builder.AddPlatform(PlatformSource.Curseforge, CurseForgeAPI);
            }
            if (Source == PlatformSource.ALL || Source == PlatformSource.Modrinth)
            {
                builder.AddPlatform(PlatformSource.Modrinth);
            }
            Modpacks = await MultiPlatformInteropClient.SearchModpacksAsync(builder);
        });
        IsLoading = false;
        StateHasChanged();
    }
}
