@using Chase.Minecraft.Curseforge.Controller;
@using Chase.Minecraft.Curseforge.Model;
@using Chase.Minecraft.Data;
@using Chase.Minecraft.Model;
@using Chase.Minecraft.Modpacks.Data;
@using Chase.Minecraft.Modpacks.Model;
@using Chase.Minecraft.Modrinth.Controller;
@using Chase.Minecraft.Modrinth.Model;
@using PolygonMC.Data;
@using PolygonMC.Shared.Components
@using Markdig;

<link rel="stylesheet" href="/css/product-page.css">
<link rel="stylesheet" href="/css/gallery.css">

<Navigation SelectedPage="1"></Navigation>


<div id="page-content">

    @if (IsLoading)
    {
        <span class="loading"></span>
    }
    else
    {
        <div class="row" style="margin-bottom: 1rem;">
            @if (IsPopup)
            {
                <button class="button secondary" @onclick=@(() => OnClose.Invoke()) style="height: 1rem;margin: auto 0;margin-right: 2rem;"><i class="fa fa-chevron-left"></i></button>
            }
            <h1>@Name</h1>
        </div>

        <div class="row">
            @switch (Tab)
            {
                case 0:
                    <div id="description" class="col fill">
                        @(new MarkupString(Markdown.ToHtml(Markdown.Parse(Body.Replace("\\n", "\n"))) ?? ""));
                    </div>
                    break;
                case 1:
                    @if (SelectedFullscreenGalleryImageIndex != -1)
                    {
                        <FullscreenGalleryItem Images=@Images SelectedIndex=@SelectedFullscreenGalleryImageIndex OnClose=@(()=>{SelectedFullscreenGalleryImageIndex=-1;StateHasChanged();}) />
                    }

                    <div id="gallery-items" class="grid product-content">
                        @{
                            int index = 0;
                            foreach (var gallery in Images)
                            {
                                int selectedIndex = index;
                                <GalleryItem Title=@(gallery.Title) Description=@(gallery.Description) Image=@(gallery.Url) OnClick=@(()=>{SelectedFullscreenGalleryImageIndex=selectedIndex;StateHasChanged();}) />
                                index++;
                            }

                        }
                    </div>
                    break;
                case 2:

                    break;
            }
            <div id="side-bar" class="col">
                <div id="side-bar-content">
                    <div class="row">
                        <div id="banner-image" style="background-image: url('@FeaturedImageUrl')"></div>
                        <img id="icon" src="@IconUrl" alt="">
                        <div id="page-title-info" class="col">
                            <p id="title">@Name</p>
                            <p id="type">@Type</p>
                        </div>
                    </div>
                    <p id="summery">@Description</p>
                    <p id="downloads"> <i class="fa-solid fa-download"></i> <b>@Downloads</b> Downloads</p>
                    <p id="followers"> <i class="fa-solid fa-heart"></i> <b>@Followers</b> Followers</p>

                    <a href="@PageURL" class="button fill">View on @Source</a>
                </div>
            </div>
        </div>
    }


    <div class="bottom-nav row alert center horizontal">
        <div class="nav-item @(Tab == 0 ?"selected":"")" @onclick="()=>Tab=0"><i class="fa-solid fa-bar-chart"></i>Overview</div>
        @if (Images != null && Images.Any())
        {
            <div class="nav-item @(Tab == 1 ?"selected":"")" @onclick="()=>Tab=1"><i class="fa-solid fa-images"></i>Gallery</div>
        }
        <div class="nav-item @(Tab == 2 ?"selected":"")" @onclick="()=>Tab=2"><i class="fa-solid fa-file-zipper"></i>Versions</div>
    </div>
</div>
@code {
    private bool IsLoading { get; set; } = true;
    private int SelectedFullscreenGalleryImageIndex = -1;
    public string FeaturedImageUrl { get; set; } = "";

    private string Name { get; set; }
    private string Description { get; set; }
    private string Body { get; set; }
    private int Downloads { get; set; }
    private int Followers { get; set; }
    private string IconUrl { get; set; }
    private int Tab { get; set; } = -1;
    private ResourceItemVersion[] Versions { get; set; }

    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Source { get; set; }
    [Parameter]
    public string PageURL { get; set; }
    [Parameter]
    public Chase.Minecraft.Modrinth.Model.GalleryItem[] Images { get; set; } = Array.Empty<Chase.Minecraft.Modrinth.Model.GalleryItem>();
    [Parameter]
    public bool IsPopup { get; set; } = false;
    [Parameter]
    public Action OnClose { get; set; } = () => { };
    [Parameter]
    public Action<ModModel> OnModVersionSelected { get; set; } = mod => { };

    protected override async Task OnInitializedAsync()
    {
        Tab = 0;
        await Refresh();
        await base.OnInitializedAsync();
    }


    private async Task Refresh()
    {
        IsLoading = true;
        if (Enum.TryParse(typeof(PlatformSource), Source, true, out object tmp))
        {
            PlatformSource platform = (PlatformSource)tmp;
            switch (platform)
            {
                case PlatformSource.Modrinth:
                    using (ModrinthClient client = new())
                    {
                        ModrinthProject? project = await client.GetProjectAsync(Id);
                        if (project != null)
                        {
                            Name = project.Value.Title;
                            Body = project.Value.Body;
                            Downloads = project.Value.Downloads;
                            Followers = project.Value.Followers;
                            IconUrl = project.Value.IconUrl;
                            Images = project.Value.Gallery;
                            Description = project.Value.Description;
                            if (project.Value.Gallery.Any(i => i.Featured))
                            {
                                FeaturedImageUrl = project.Value.Gallery.First(i => i.Featured).Url;
                            }
                            IsLoading = false;
                        }
                    }
                    break;
                case PlatformSource.Curseforge:
                    using (CurseforgeClient client = new(CurseForgeAPI))
                    {
                        CurseforgeProject? project = null;
                        switch (Type)
                        {
                            case "mod":
                                project = await client.GetMod(Id);
                                break;
                            case "modpack":
                                project = await client.GetModpack(Id);
                                break;
                            case "world":
                                project = await client.GetWorld(Id);
                                break;
                            case "resourcepack":
                                project = await client.GetResourcepack(Id);
                                break;
                        }
                        if (project != null)
                        {
                            Name = project.Value.Name;
                            Downloads = project.Value.DownloadCount;
                            Description = project.Value.Summary;
                            Body = await client.
                            Followers = 0;
                            IconUrl = project.Value.Logo.Url;
                            Images = Array.ConvertAll(project.Value.Screenshots, i =>
                            {
                                return new Chase.Minecraft.Modrinth.Model.GalleryItem()
                                    {
                                        Title = i.Title,
                                        Description = i.Description,
                                        Url = i.Url,
                                        Created = DateTime.Now.ToString(),
                                        Featured = false,
                                        Ordering = 0,
                                    };
                            }).ToArray();

                            if (Images.Any(i => i.Featured))
                            {
                                FeaturedImageUrl = Images.First().Url;
                            }
                            IsLoading = false;
                        }
                    }
                    break;
            }
        }
    }

    private async Task LoadVersions()
    {
        IsLoading = true;
        List<ResourceItemVersion> resourceItemVersions = new();
        if (Enum.TryParse(typeof(PlatformSource), Source, true, out object tmp))
        {
            PlatformSource platform = (PlatformSource)tmp;
            switch (platform)
            {
                case PlatformSource.Modrinth:
                    using (ModrinthClient client = new())
                    {
                        ModrinthVersionFile[]? versions = await client.GetProjectVersionsAsync(Id);
                        if (versions != null)
                        {
                            foreach (ModrinthVersionFile version in versions)
                            {
                                if (Enum.TryParse(typeof(ReleaseType), version.VersionType, true, out object type))
                                {
                                    resourceItemVersions.Add(new ResourceItemVersion()
                                        {
                                            ID = version.Id,
                                            Changelog = version.Changelog,
                                            Version = version.Name,
                                            Downloads = version.Downloads,
                                            GameVersions = version.GameVersions,
                                            ReleaseDate = version.DatePublished,
                                            ReleaseType = (ReleaseType)type
                                        });
                                }
                            }
                            IsLoading = false;
                        }
                    }
                    break;
                case PlatformSource.Curseforge:
                    using (CurseforgeClient client = new(CurseForgeAPI))
                    {
                        ModFile[]? versions = await client.GetModFiles(Id);
                        if (versions != null)
                        {
                            foreach (var version in versions)
                            {
                                    resourceItemVersions.Add(new ResourceItemVersion()
                                        {
                                            ID = version.Id.ToString(),
                                            Changelog = version.Changelog,
                                            Version = version.Name,
                                            Downloads = version.Downloads,
                                            GameVersions = version.GameVersions,
                                            ReleaseDate = version.DatePublished,
                                            ReleaseType = (ReleaseType)type
                                        });
                            }
                            IsLoading = false;
                        }
                    }
                    break;
            }
        }
        Versions = resourceItemVersions.ToArray();
    }

}
