@using Chase.Minecraft.Data;
@using Chase.Minecraft.Model;
<div class="row resource-item @Platform.ToString().ToLower()" style="--background: url('@Background')">
    <div class="row fill center horizontal content" @onclick=@(()=>OnClick.Invoke())>
        <div class="icon" style="background-image: url('@Icon')"></div>
        <div class="col resource-content fill">
            <div class="title">@Name</div>
            <div class="author">by @Author</div>
            <div class="description">@Description</div>
        </div>
    </div>
    <div class="col action-content">
        <div class="downloads"><i class="fa fa-download"></i>@FormatNumber(Downloads)</div>
        @if (IsDownloaded)
        {
            <button class="button secondary">Installed</button>
        }
        else
        {
            <button class="button">Download</button>
        }
        <a class="button secondary" href="@Website">@Platform</a>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string? Background { get; set; } = null;
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public int Downloads { get; set; } = 0;
    [Parameter]
    public bool IsDownloaded { get; set; }
    [Parameter]
    public string Author { get; set; } = "";
    [Parameter]
    public string Website { get; set; } = "";
    [Parameter]
    public PlatformSource Platform { get; set; }
    [Parameter]
    public Action OnClick { get; set; } = () => { };
    [Parameter]
    public Action<ModModel> OnModVersionSelected { get; set; } = mod => { };
}
